.ctaBox {
  background: var(--gradient-primary-reverse);
  border-radius: 1.5rem; 
}
.ctaBtn {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  border-radius: 0.5rem;
  font-size: var(--fs-small);
  transition: all 0.2s ease-in-out;
}

.ctaBtn:hover {
  background-color: var(--color-primary-light-3);
  color: var(--color-very-dark-purple);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}