.ctaBox {
  background: var(--gradient-primary-reverse);
  border-radius: 1.5rem; 
}
.ctaBtn {
  background-color: var(--color-white) !important;
  color: var(--color-primary-dark);
}

.ctaBtn:hover {
  background-color: var(--color-primary-light-3);
  color: var(--color-very-dark-purple);
}