/* Progress Bar Area */
.progressSection {
  background-color:var(--color-primary-light-3); 
  border-radius: 1rem;
padding: 2.8rem 2.8rem 0.8px 20.8px;
  margin-bottom: 24px;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.progressTrack {
  width: 100%;
  height: 8px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progressFill {
  height: 100%;
  background: var(--gradient-primary);
  border-radius: 10px;
  transition: width 0.4s ease;
}

.progressText {
  font-size: 0.8rem;
  color: #6b7280;
}