/* Progress Bar Area */
.progressSection {
  background-color:var(--color-primary-light-3); 
  border-radius: 1rem;
  padding: 16px 20px;
  margin-bottom: 24px;
  font-size: var(--fs-small);
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.progressTrack {
  width: 100%;
  height: 8px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.progressFill {
  height: 100%;
  background: var(--gradient-primary);
  border-radius: 10px;
  transition: width 0.4s ease;
}

.progressText {
    font-size: var(--fs-v-small);

  color: #6b7280;
}

/* Search Bar Area */
.selectWrapper {
  flex: 1;
  position: relative;
}

.searchRow {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}
/* Members */
.memberCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  background-color: var(--color-primary-light-3);
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color-light-gray);
}

.memberLeft {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.memberName {
  font-size: var(--fs-small);
  font-weight: 600;
  color: var(--color-text);
}

.memberRole {
  font-size: var(--fs-v-small);
  color: var(--color-gray);
}

.badge {
  background-color: #d1fae5; 
  color: var(--color-success-green);
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  font-size: var(--fs-v-small);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.removeIcon {
  background: #ffe6e6;
  color: var(--color-error-red);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

.removeIcon:hover {
  background: #ffe6e6; 
}

/* btns */
.actionRow {
  display: flex;
  gap: 1.6rem;
  margin-top: 1.2rem;
}

.actionRow > button {
  flex: 1;
  min-width: 0 !important; 
}