
.formGroup {
  margin-bottom: 24px;
}

.label {
  display: block;
  font-weight: 500;
  color: #374151;
  margin-bottom: 8px;
  font-size: var(--fs-regular);
}

.asterisk {
  color: var(--color-error-red); 
}

.input,
.textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size:var(--fs-small);
  transition: all 0.2s ease;
  color: #1f2937;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: var(--color-primary-dark);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.charCount {
  display: block;
  text-align: left;
   font-size:var(--fs-v-small);
  color: #6b7280;
  margin-top: 6px;
}

.sizeContainer {
  display: flex;
  gap: 0.8rem;
  width: 100%;
}

.compactBtn {
    /* to be responsive */
  min-width: 0;
  flex: 1;

}

.fullWidth {
  width: 100%;
  min-width: 100%;
  /* margin-top: 1rem; */
}

.customInputWrapper{
    margin-top: 1rem  ;

}



.checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  accent-color: var(--color-primary-dark);
  border-radius: 0.4rem;
}

/* Optional: Add a subtle animation when the description appears */
:global(.animate__fadeIn) {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}