.wrapper {
  width: auto;
}

.avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-primary-dark);
}

.bellIcon {
  cursor: pointer;
}
.customToggle {
  width: 100%;
  transition: all 0.1s ease-in-out;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
}
.customToggle::after {
  display: none;
}
.customToggle[aria-expanded="true"],
.customToggle:hover {
  background-color: var(--color-primary-light-2);
}

.customMenu {
  width: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  /* min-width: 200px; */
}
.customMenu {
  font-size: var(--fs-small);
  padding: 1rem;
  line-height: 2;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-error-red);
  color: var(--color-white);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  position: relative;
  display: inline-block;
  color: var(--color-primary-light) !important;
}

.notificationLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.notificationLink svg {
  color: var(--color-very-dark-purple);
}

.notificationDot {
  position: absolute;
  top: -3px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-error-red);
  border: 2px solid var(--color-white);
}
