.purbleBg{
  background-color: var(--color-primary-light);  
}
.yellowBg{
    background-color: var( --color-primary-light-3);
}
.iconBox{
    display: flex;
    justify-content: center;
align-items: center;
border-radius: 14px;
background: #FFF;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
}