
.faqItem {
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.faqItem:hover {
  border-color: var(--color-primary-light);
}

.faqTitle {
  font-size: var(--fs-small);
  color: var(--color-text);
}

.iconContainer {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary-light-2);
  color: var(--color-primary-dark);
}

.icon {
  font-size: 1.2rem;
  line-height: 1;
  transition: transform 0.3s ease-in-out;
}

.iconOpen {
  transform: rotate(45deg);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.answerContainerOpen {
  max-height: 200px; /* Adjust this if you have very long answers */
  margin-top: 1rem;  /* Equivalent to Bootstrap mt-3 */
}

.answerText {
  font-size: var(--fs-v-small);
}