NODE_ENV=
PORT=

DATABASE_URL=

#email config 
EMAIL_USER= 
EMAIL_PASS=

#this will be used for anything will going to the server
BASE_URL=
#and this will be used for anything will going to the front
FRONTEND_URL=


JWT_SECRET=
JWT_EXPIRES_IN=

GOOGLE_CLIENT_ID=