.card {
  background: var(--gradient-website-bg);
  border: 1px solid var(--color-primary-dark);
  border-radius: 1.6rem;
  padding: 2.4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.6rem;
}

.iconCircle {
  width: 4.4rem;
  background: var(--color-primary-light-3);
  color: var(--color-primary-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  justify-content: center;
  border: 1px solid var(--color-primary-dark);
}

.trend {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-success-green);
  font-weight: 700;
  font-size: var(--fs-v-small);
}

.trend span {
  color: var(--color-success-green);
}

.value {
  font-size: var(--fs-h3);
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.label {
  font-size: var(--fs-v-small);
  color: var(--color-text);
}
