.navbar{
    box-shadow:  0 4px 4px 0  var(--color-primary-light-2);
}
a.navlinks{
    font-size: var(--fs-regular);
    position: relative;
}
a.navlinks:hover{
    background:var(--gradient-primary-reverse);
    background-clip: text;
    color: transparent;

}
a.navlinks::before{
content: "";
position: absolute;  
bottom: -7px;
left: 0;
width: 0%;
height: 2.5px;
background-color: var(--color-primary-dark);  
transition: all 0.5s ;

}
a.navlinks:hover::before{
    width: 100%;
}زtoggler

@media (max-width:991px) {
    a.navlinks{
    font-size: var( --fs-small);
}
}

@media (max-width:767px) {
    a.navlinks{
    font-size: var(--fs-v-small);
}
}


/* to do -> fix hover on mobile screen issue */