.navbar{
    box-shadow:  0 4px 4px 0  var(--color-primary-light-2);
}
.navlinks{
    font-size: var(--fs-regular);
    background-color: red;
}

@media (max-width:991px) {
    .navlinks{
    font-size: var(  --fs-small);
}
}

@media (max-width:767px) {
    .navlinks{
    font-size: var(--fs-v-small);
    color: red;
}
}