
.wrapper{
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    padding: 0.5rem;
}
.wrapper:hover , 
.wrapper:focus{
    background-color: var(--color-primary-light-2);
}
.bellIcon{
    cursor: pointer;
}
.customToggle {
    border: none ;   
    box-shadow: none ; 
}
.customToggle::after {
    display: none ;
}

.customMenu {
    border: none;
    border-radius: 15px; 
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    padding: 10px 0;
    min-width: 200px;
}
.customMenu{
    font-size: var(--fs-small);
    padding: 1rem;
    line-height: 2;
}