.customToggle {
    /* background-color: transparent; */
    border: none ;   
    box-shadow: none ; 
   
}
.customToggle:hover , 
.customToggle:focus{
    background-color: var(--color-primary-light);
}

.customToggle::after {
    display: none !important;
}

.customMenu {
    border: none;
    border-radius: 15px; 
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    padding: 10px 0;
    min-width: 200px;
}