.smallFormContainer {
  max-height: 53rem;
  align-self: center;
}

.immgIllustration {
  height: 45rem;
  align-self: center;
  box-shadow: 0 0.4rem 0.4rem 0 var(--color-primary-light-2);
}

.resetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}


.title {
  align-self: stretch;
  color: var(--color-very-dark-purple);
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 4rem;
}

.description {
  color: var(--color-text);
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.inputWrapper {
  margin-bottom: 1.5rem;
}

.footerText {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}
