.wrapper{
    border-radius: 10px;
border: 0.8px solid #E9DCFF;
background: #FFF;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.tipRow{
    padding: 0.5rem;
    border-radius: 8px;
background: rgba(233, 220, 255, 0.30);
}