.loginContainer {
  padding: 0.6rem;
  gap: 0.3rem;
}

.loginContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  align-self: stretch;
  color: var(--color-very-dark-purple);
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 4rem;
}

.socialBtn {
  display: flex;
  height: 5rem;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  border-radius: 1rem;
  border: 0.12rem solid var(--color-primary-light-2);
  background: var(--color-white);
  color: var(--color-text);
  font-size: var(--fs-v-small);
  transition: background-color 0.2s ease-in-out;
}

.socialBtn:hover {
  background: var(--color-primary-light-2);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  color: var(--color-dark-gray);
  font-size: var(--fs-small);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 0.1rem solid var(--color-dark-gray);
}

.divider span {
  padding: 0 1rem;
}

.forgotLink {
  color: var(--color-primary-dark);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
}

.footerText {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.link {
  color: var(--color-primary-dark);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
}
