.wrapper {
  border-radius: 10px;
  border: 0.8px solid #e9dcff;
  background: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.tipRow {
  padding: 0.5rem;
  border-radius: 8px;
  background: rgba(233, 220, 255, 0.3);
  font-size: var(--fs-small);
}
