.heroMain{
  min-height: 100vh;
}
.heroImg {
  width: 90%;
   cursor: default !important;
}
.badge {
  color: var(--color-white);
  font-size: var(--fs-regular);
  background: linear-gradient(
    90deg,
    rgb(183, 148, 244) 12%,
    rgb(137, 69, 254) 80%
  );
}
.heroTitle {
  font-size: var(--fs-h1);
  line-height: 1.6;
}
.textGradient {
  background: linear-gradient(
    90deg,
    var(--color-primary-dark) 0%,
    var(--color-very-dark-purple) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* .loader{
  position: relative;
}
.loader span{
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
  animation-delay:calc(0.1s * var(--i)) ;
}
@keyframes animate {
0%,40%,100%{
transform: translateY(0);
}  
20%{
  transform: translateY(-30px);
}
} */
.heroSubTitle {
  font-size: var(--fs-h4);
}
.badgeWrapper {
  width: 100%;
}

.badgeWrapper span {
  color: var(--color-white);
}

@media (min-width: 992px) {
  .badgeWrapper {
    width: auto;
  }
}

@media (max-width: 991px) {
  .heroTitle {
    font-size: var(--fs-regular);
  }
  .heroSubTitle {
    font-size: var(--fs-small);
  }
}

@media (max-width: 767px) {
}
