.heroImg {
  width: 90%;
}
.badge {
  color: var(--color-white);
  font-size: var(--fs-regular);
  background: linear-gradient(
    90deg,
    rgb(183, 148, 244) 12%,
    rgb(137, 69, 254) 80%
  );
}
.heroTitle {
  font-size: var(--fs-h1);
  line-height: 1.6;
}
.textGradient {
  /* background: linear-gradient(
    90deg,
    var(--color-primary-dark) 0%,
    var(--color-very-dark-purple) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  /* --- ADD THESE THREE LINES --- */
  display: inline-block; /* Ensures padding and margins behave correctly */
  padding-top: 25px;     /* Extends the background up to catch the jumping letters */
  margin-top: -25px;
}
.loader span {
  position: relative;
  font-size: 2em;
  display: inline-block;
  animation-delay: calc(0.1s * var(--i));
  cursor: pointer; 
}

.loader:hover span {
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
.heroSubTitle {
  font-size: var(--fs-h4);
}
.badgeWrapper {
  width: 100%;
}

.badgeWrapper span {
  color: var(--color-white);
}

@media (min-width: 992px) {
  .badgeWrapper {
    width: auto;
  }
}

@media (max-width: 991px) {
  .heroTitle {
    font-size: var(--fs-regular);
  }
  .heroSubTitle {
    font-size: var(--fs-small);
  }
}

@media (max-width: 767px) {
}
