.pageBackground{
    background:linear-gradient(180deg, #FFF 0%, #FAF5FF 100%);
    padding: 2rem 0;
}
.headerIconBox {
  width: 6rem;
  height: 6rem;
  background: var(--gradient-primary);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  box-shadow: 0 10px 20px rgba(107, 70, 193, 0.2);
}

.mainTitle {
  font-size: var(--fs-h4);
  font-weight: 800;
  color: var(--color-very-dark-purple);
  margin-bottom: 0.2rem;
}

.subTitle {
  font-size: var(--fs-small);
  color: var(--color-gray);
}

.formCard {
  padding: 3.2rem;
  border-radius: 1rem !important;
  border: 0.1rem solid var(--color-very-dark-purple) !important;
  background: #fff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  align-items: center;
  font-size: var(--fs-regular);
  font-weight: 700;
  color: var(--color-very-dark-purple);
  margin-bottom: 2.4rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-primary-light-3);
}
