.pageBackground {
  background: linear-gradient(180deg, #fff 0%, #faf5ff 100%);
}


.activeTab {
  background-color: var(--color-primary-dark);
  color: var();
  border-radius: 2rem !important;
  border: 1px solid #7c4dff !important;
  box-shadow: 0 0.4rem 1.2rem rgba(124, 77, 255, 0.2);
  transition: all 0.2s ease-in-out;
}

/* Inactive tab style - Soft subtle frame */
.inactiveTab {
  background-color: #ffffff !important;
  color: #6c757d !important;
  border-radius: 2rem !important;
  border: 1px solid #e1dbf7 !important;
  transition: all 0.2s ease-in-out;
}

.inactiveTab:hover {
  background-color: #f1ecfe !important;
  color: #7c4dff !important;
  border-color: #7c4dff !important;
}