.pageBackground {
  background: linear-gradient(180deg, #fff 0%, #faf5ff 100%);
}


.activeTab {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary-dark);
  box-shadow: 0 0.4rem 1.2rem rgba(124, 77, 255, 0.2);
  transition: all 0.2s ease-in-out;
}

/* Inactive tab style - Soft subtle frame */
/* .inactiveTab {
  background-color: var(--color-white);
  color: var( --color-dark-gray);
  border-radius:0.5rem;
  border: 2px solid var(--color-primary-dark);
  transition: all 0.2s ease-in-out;
} */

.inactiveTab:hover {
  background-color: var(--color-primary-light-3);
  color: var(--color-primary-dark);
}