/* Primary Button */

.primary-btn {
  
  min-width: 3.54rem;
  min-height: 5rem;
  padding: 1rem;
  
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: none;
  background: var(--gradient-primary);
  color: var(--color-white) !important;
  font-size: large;
  font-weight: 600;
  transition: background-color 200ms ease-in-out;
}

.primary-btn:hover {
  background: var(--gradient-primary-reverse);
}

/* Secondary Button */
.secondary-btn {
  display: flex;
  width: 3.54rem;
  height: 5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: none;
  border: 2px solid var(--color-primary-dark);
  color: var(--color-white) !important;
  font-size: large;
  font-weight: 600;
  transition: background-color 200ms ease-in-out;
}

.secondary-btn:hover {
  border: 2px solid var(--color-primary-light);
}