/* Primary Button */

.btn{
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border: none;
   font-weight: 600;
  font-size: large;
  transition: background-color 200ms ease-in-out;
  
  min-width: 3.54rem;
  /* min-height: 5rem; */

}
.primary-btn {

  background: var(--gradient-primary);
  color: var(--color-white) !important;

 
}

.primary-btn:hover {
  background: var(--gradient-primary-reverse);
}

/* Secondary Button */
.secondary-btn {
  /* width: 3.54rem; */
  /* height: 5rem; */
  border: 2px solid var(--color-primary-dark);
  color: var(--color-white) !important;
  transition: background-color 200ms ease-in-out;
}

.secondary-btn:hover {
  border: 2px solid var(--color-primary-light);
}