.header {
  margin-bottom: 3.2rem;
}

.header h1 {
  font-size: var(--fs-h2);
  font-weight: 600;
  color: var(--color-text);
  line-height: 4rem;
}

.header p {
  font-size: var(--fs-small);
  color: var(--color-text);
}

/* Small Screens */
@media (max-width: 992px) {
  .header h1 {
    font-size: var(--fs-h3);
  }
  .header p {
    font-size: var(--fs-v-small);
  }
}
