.hackathonCard{
    border:2px solid var(--color-primary-dark);
background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
  position: relative;
}
.hackathonCard:hover {
  border: 0.2rem solid var(--color-primary-dark);
  box-shadow: 0 0.4rem 1.2rem rgba(107, 70, 193, 0.1);
}
.hackathonDetails{
    font-size: var( --fs-regular);
}