.stepWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 160px;
  background-color: var(--color-primary-light-2);
  border-radius: 50%;
  text-align: center;
}