.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray);
}

.logo {
  padding: 1.2rem;
  display: flex;
  width: 8rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--color-very-dark-purple);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pageTitle {
  font-size: var(--fs-body-lg);
  color: var(--color-very-dark-purple);
  font-weight: 500;
}

.chartCard {
  padding: 2.4rem;
  border-radius: 1.6rem;
  border: 1px solid #eef0f2;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.chartHeader {
  margin-bottom: 2rem;
}

.chartHeader h3 {
  font-size: var(--fs-h4);
  font-weight: 700;
  color: var(--color-dark);
}

.chartHeader p {
  font-size: var(--fs-v-small);
  color: var(--color-dark-gray);
}

.chartArea {
  width: 100%;
  position: relative;
}

.donutArea {
  width: 100%;
  position: relative;
}
