footer{
    background-color: var( --color-primary-light-2);
    font-size: var(--fs-);
}

.footerLink{
    color: var(--color-text);
    text-decoration: none;
        font-size: var(--fs-regular);

}
.footerSections {
      font-size: var(--fs-regular);
  
}
.copyrightRow{
    margin-top: 5.5rem;
}