footer {
  background-color: var(--color-primary-light-2);
}
.footerSlogan {
  font-size: var(--fs-small);
  fon
}
.footerLink {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--fs-regular);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  font-weight: 500;
}
.footerLink:hover {
  color: var(--color-very-dark-purple); 
  transform: translateY(-2px);
}
.footerSections,
.copyRightText {
  font-size: var(--fs-regular);
}
.copyrightRow {
  margin-top: 5.5rem;
}
