footer {
  background-color: var(--color-primary-light-2);
}
.footerSlogan {
  font-size: var(--fs-small);
}
.footerLink {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--fs-regular);
  transition: all 0.2s ease-in-out;
}

.footerLink:hover {
  color: #0d6efd; /* Replace with your app's main brand color */
  transform: translateY(-2px);
}
.footerSections,
.copyRightText {
  font-size: var(--fs-regular);
}
.copyrightRow {
  margin-top: 5.5rem;
}
