footer{
    background-color: var( --color-primary-light-2);
}
.footerSlogan{
font-size: var(--fs-small);
}
.footerLink{
    color: var(--color-text);
    text-decoration: none;
}
.footerSections {
      font-size: var(--fs-regular);
  
}
.copyrightRow{
    margin-top: 5.5rem;
}