footer{
    background-color: var( --color-primary-light-2);
    font-size: var(--fs-regular);
}

.footerLink{
    color: var(--color-text);
    text-decoration: none;
}
.footerSections {
      font-size: var(--fs-regular);
  
}